# Hugo
/public/
/resources/_gen/
.hugo_build.lock

# WebStorm / JetBrains IDEs
.idea/

# macOS
.DS_Store

# Editor backup files
*.swp
*.swo
*~

# Environment variables
.env
.env.local

# Log files
*.log

# Temporary files
tmp/
temp/
